[Unit]
Description=Hono api.somdomato.com
After=network.target

[Service]
Type=simple
User=nginx
WorkingDirectory=/var/www/somdomato/backend
ExecStart=/home/nginx/.bun/bin/bun run src/index.ts
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target