[Unit]
Description=Hono api.somdomato.com
After=network.target

[Service]
Type=simple
User=nginx
WorkingDirectory=/var/www/somdomato/backend
ExecStart=/home/nginx/.bun/bin/bun run /var/www/somdomato/backend/src/index.ts
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target