@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #2c2525;
  --background-alt: #394634;
  --primary: #d5984e;
  --primary-alt: #daa05a;
}

@theme inline {
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-alt: var(--primary-alt);
}

html,
body {
  transition:
    background-color 0.5s ease,
    color 0.3s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}

button {
  @apply cursor-pointer;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl font-semibold mb-3;
}

h3 {
  @apply text-xl font-semibold mb-2;
}

h4 {
  @apply text-lg font-semibold mb-1;
}

a:not(.logo) {
  @apply text-primary-alt hover:text-white transition-colors duration-400;
}